호텔 예약 취소 lr, SGD 모델

In [1]:
# 데이터 불러오기

In [86]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split, cross_validate, GridSearchCV
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import SGDClassifier

In [38]:
hotel_df = pd.read_csv('C:/workspace/R/2.Python/PROJECT/Project_Vol_2/hotel_bookings_cancel.csv')

In [39]:
hotel_df

,is_canceled,lead_time,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,...,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status
0,0,342,July,1,0,0,2,0.0,0,BB,...,C,C,3,No Deposit,NaN,Transient,0.0,0,0,Check-Out
1,0,737,July,1,0,0,2,0.0,0,BB,...,C,C,4,No Deposit,NaN,Transient,0.0,0,0,Check-Out
2,0,7,July,1,0,1,1,0.0,0,BB,...,A,C,0,No Deposit,NaN,Transient,75.0,0,0,Check-Out
3,0,13,July,1,0,1,1,0.0,0,BB,...,A,A,0,No Deposit,304.0,Transient,75.0,0,0,Check-Out
4,0,14,July,1,0,2,2,0.0,0,BB,...,A,A,0,No Deposit,240.0,Transient,98.0,0,1,Check-Out
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,1,464,October,28,0,2,2,0.0,0,BB,...,A,A,0,Non Refund,1.0,Transient,65.0,0,0,Canceled
119386,1,464,October,28,0,2,2,0.0,0,BB,...,A,A,0,Non Refund,1.0,Transient,65.0,0,0,Canceled
119387,1,464,October,28,0,2,2,0.0,0,BB,...,A,A,0,Non Refund,1.0,Transient,65.0,0,0,Canceled
119388,1,464,October,28,0,2,2,0.0,0,BB,...,A,A,2,Non Refund,1.0,Transient,65.0,0,0,Canceled
119389,1,464,October,28,0,2,2,0.0,0,BB,...,A,A,2,Non Refund,1.0,Transient,65.0,0,0,Canceled

In [43]:
# 데이터 전처리 children, agent

hotel_df['children'] = hotel_df['children'].fillna(0)
hotel_df['agent'] = hotel_df['agent'].fillna(-1)
hotel_df

,is_canceled,lead_time,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,...,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status
0,0,342,July,1,0,0,2,0.0,0,BB,...,C,C,3,No Deposit,-1.0,Transient,0.0,0,0,Check-Out
1,0,737,July,1,0,0,2,0.0,0,BB,...,C,C,4,No Deposit,-1.0,Transient,0.0,0,0,Check-Out
2,0,7,July,1,0,1,1,0.0,0,BB,...,A,C,0,No Deposit,-1.0,Transient,75.0,0,0,Check-Out
3,0,13,July,1,0,1,1,0.0,0,BB,...,A,A,0,No Deposit,304.0,Transient,75.0,0,0,Check-Out
4,0,14,July,1,0,2,2,0.0,0,BB,...,A,A,0,No Deposit,240.0,Transient,98.0,0,1,Check-Out
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,1,464,October,28,0,2,2,0.0,0,BB,...,A,A,0,Non Refund,1.0,Transient,65.0,0,0,Canceled
119386,1,464,October,28,0,2,2,0.0,0,BB,...,A,A,0,Non Refund,1.0,Transient,65.0,0,0,Canceled
119387,1,464,October,28,0,2,2,0.0,0,BB,...,A,A,0,Non Refund,1.0,Transient,65.0,0,0,Canceled
119388,1,464,October,28,0,2,2,0.0,0,BB,...,A,A,2,Non Refund,1.0,Transient,65.0,0,0,Canceled
119389,1,464,October,28,0,2,2,0.0,0,BB,...,A,A,2,Non Refund,1.0,Transient,65.0,0,0,Canceled

In [45]:
hotel_df = hotel_df.drop(['reservation_status'], axis =1)

In [46]:
hotel_df = pd.get_dummies(hotel_df)
hotel_df

,is_canceled,lead_time,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,...,assigned_room_type_K,assigned_room_type_L,assigned_room_type_P,deposit_type_No Deposit,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Contract,customer_type_Group,customer_type_Transient,customer_type_Transient-Party
0,0,342,1,0,0,2,0.0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
1,0,737,1,0,0,2,0.0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2,0,7,1,0,1,1,0.0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
3,0,13,1,0,1,1,0.0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
4,0,14,1,0,2,2,0.0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,1,464,28,0,2,2,0.0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
119386,1,464,28,0,2,2,0.0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
119387,1,464,28,0,2,2,0.0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
119388,1,464,28,0,2,2,0.0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
119389,1,464,28,0,2,2,0.0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [47]:
X = hotel_df.drop(['is_canceled'], axis =1)
X

,lead_time,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,...,assigned_room_type_K,assigned_room_type_L,assigned_room_type_P,deposit_type_No Deposit,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Contract,customer_type_Group,customer_type_Transient,customer_type_Transient-Party
0,342,1,0,0,2,0.0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
1,737,1,0,0,2,0.0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2,7,1,0,1,1,0.0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
3,13,1,0,1,1,0.0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
4,14,1,0,2,2,0.0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,464,28,0,2,2,0.0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
119386,464,28,0,2,2,0.0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
119387,464,28,0,2,2,0.0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
119388,464,28,0,2,2,0.0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
119389,464,28,0,2,2,0.0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [48]:
y = hotel_df['is_canceled']
y

0         0
1         0
2         0
3         0
4         0
         ..
119385    1
119386    1
119387    1
119388    1
119389    1
Name: is_canceled, Length: 119390, dtype: int64

In [68]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [70]:
# max_iteration
model = LogisticRegression(max_iter=10000)

In [71]:
model.fit(X_train, y_train)

LogisticRegression(max_iter=10000)

In [53]:
print("훈련 데이터 점수 : {}".format(model.score(X_train, y_train)))
print("평가 데이터 점수 : {}".format(model.score(X_test, y_test)))

훈련 데이터 점수 : 0.8058568556830555
평가 데이터 점수 : 0.7971354384789345

In [75]:
model = make_pipeline(StandardScaler(), LogisticRegression(solver='lbfgs',max_iter=10000 ))

In [77]:
model.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('logisticregression', LogisticRegression(max_iter=10000))])

In [79]:
print("학습 데이터 점수 : {}".format(model.score(X_train,y_train)))
print("평가 데이터 점수 : {}".format(model.score(X_test,y_test)))

학습 데이터 점수 : 0.8130391992629198
평가 데이터 점수 : 0.8125889940531033

In [87]:
# 경사하강법을 이용한 분류
model = make_pipeline(StandardScaler(), SGDClassifier(loss='log'))

In [89]:
model.fit(X_train,y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('sgdclassifier', SGDClassifier(loss='log'))])

In [90]:
print("학습 데이터 점수 : {}".format(model.score(X_train,y_train)))
print("평가 데이터 점수 : {}".format(model.score(X_test,y_test)))

학습 데이터 점수 : 0.8043177820587989
평가 데이터 점수 : 0.8016584303543011