In [1]:
# 제어문 if
# 들여쓰기 주의(언제나 같은 너비로 진행해야함)
# {} 가 아닌 : 콜론을 사용함 주의!!
money = True
if money :
    print("택시를")
    print("타고")
    print("가라")

택시를
타고
가라

In [2]:
# else는 if에 종속하지 않는다.
money = 2000
if money >= 3000 :
    print("택시를 타고 가라")
else:
    print("걸어 가라")

걸어 가라

In [3]:
# or 은 둘중에서 하나가 참이면 전체가 참이됨.
money = 2000
card = True
if money >= 3000 or card:
    print("택시를 타고 가라")
else:
    print("걸어 가라")

택시를 타고 가라

In [4]:
# in ~ 안에
pocket = ["paper", "cellphone" , "money"]
if "money" in pocket :
    print("택시 타고 가라")
else :
    print("걸어 가라")

택시 타고 가라

In [5]:
# 연습문제 
pocket = ["paper", "cellphone" , "money"]
if "card" not in pocket:
    print("걸어 가라")
else:
    print("버스 타고 가라")

걸어 가라

In [6]:
# 조건문에서 아무 일도 하지 않게 설정하고 싶으면? pass
pocket = ["paper", "cellphone" , "money"]
if "money" in pocket:
    pass
else:
    print("카드를 꺼내라")

In [7]:
# elif 주머니에 돈이 있으면 택시를 타고 주머니에 돈은 없지만 카드가 있으면 택시를 타고, 돈도 없고 카드도 없으면 걸어가라

pocket = ["paper", "cellphone"]
card = True
if "money" in pocket :
    print("택시를 타라")
elif card :
    print("택시를 타라")
else :
    print("걸어가라")

택시를 타라

In [8]:
# 조건부 표현식 

# 기본형
score = 77
if score > 70:
    message = "success"
else :
    message = "failure"
print(message)

# 조건부 표현형(가독성 유리 한 줄 표현 가능)
message = "success" if score > 70 else "failure"

success

In [9]:
# 반복문 Loop

# 1) 기본 문법: while True | False : 둘 중에 하나만 올 수 있고 F = 실행X / T = 무한 반복

# 2) 반복 조건: 관습적인 변수 i , 몇 번을 반복했는지 i에 저장해서 원하는 반복 횟수만큼 / 실제로 반복됬는지 체크해서 반복 종료
#    어떻게 반복을 멈출까? --> 원하는 만큼 T 값을 이용하고 F로 전환해 멈추면 되겠다.

# 3) 활용 --> "Hello world 0,9,18,27,36...81" 10 개를 반복해보자

i=0 # 반복문 관습적 변수인 i 초기값 설정

while i<10 :    # i가 10보다 작을때 까지 반복할게(총 10번 : 0 ~ 9)
    print('"Hello world '+ str(i*9) +'"') # 문자열과 숫자열의 합은 이뤄질 수 없으므로 숫자를 str() 처리해 문자열로 바꿔 더해주는 모습
    i+=1       # i = i + 1

"Hello world 0"
"Hello world 9"
"Hello world 18"
"Hello world 27"
"Hello world 36"
"Hello world 45"
"Hello world 54"
"Hello world 63"
"Hello world 72"
"Hello world 81"

In [10]:
# P136 연습문제
i=0                  # 변수 초기값 설정
while i<11:          # i의 범위는 1 ~ 10
    if i%3 !=0:      # 단, i는 나눠서 나머지가 0이면 안돼
        print(i)     # 뽑아줘
    i+=1             # 변수 누적값 반복식

1
2
4
5
7
8
10

In [11]:
# for문 for □(컨테이너에 담겨있는 값들을 반복문이 실행 될때마다 꺼냄 / 앞에 있는 변수에다가 담아둠) in □(컨테이너여만 사용가능) 

members = ["a", "b", "c", "d"]
for member in members :       
    print(members)              # 원소가 4개이고 컨테이너를 4번 반복함
for member in members :
    print("hello")              # 원소가 4개이므로 특정 문자를 4번 반복해 출력가능함.

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']
hello
hello
hello
hello

In [12]:
# P 137 # for문 활용

marks = [90, 25, 67, 45, 80]
for score in marks:      # for문 활용
    if score > 60:
        print("합격" )
    else:
        print("불합격")

합격
불합격
합격
불합격
합격

In [13]:
# P 137 # while문 활용
i = 0
score = [90, 25, 67, 45, 80]
while i < len(score) : 
    if score[i] > 60:
        print("합격")
    else:
        print("불합격")
    if i > 5 : break
    i+=1

합격
불합격
합격
불합격
합격

In [14]:
# 리스트 내포 사용하기
a = [1,2,3,4]             # for문에 사용할 리스트
result= []                # 새로운 값을 출력할 리스트 
for num in a:             # 리스트 안에 원소들의 갯수 만큼 반복
    result.append(num*3)  # result.append를 사용해 빈리스트에 원소들*3 진행
    
print(result)             # 채워진 list 결과값 출력

[3, 6, 9, 12]

In [15]:
# 리스트 내포의 일반 문법 
# 표현식 for 항목 in 반복 가능 객체 if 조건
# 3의 짝수에만 3을 곱하고 싶어
result = [num*3 for num in a if num % 2 == 0] 
print(result)

[6, 12]

In [16]:
# 구구단 만들어보기 
# for 문
for x in range(2,10):
    for y in range(1,10):
        print(x*y, end = " ") # end = " " 가로로 나열함
    print('')                 # print('') for 문이 한 바퀴 끝나면 다음 값부터 출력하게 해주는 기능

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [17]:
# while 문
x = 1
while x < 9 :
    x+=1
    y = 1
    while y < 9:
        print(x * y, end = " ")
        y+=1
    print("")

2 4 6 8 10 12 14 16
3 6 9 12 15 18 21 24
4 8 12 16 20 24 28 32
5 10 15 20 25 30 35 40
6 12 18 24 30 36 42 48
7 14 21 28 35 42 49 56
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72

In [18]:
# 리스트 내포

result = [x*y for x in range(2,10)
         for y in range(1,10)]
print(result, end = "")

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [19]:
# 146 ~ 연습문제
# while 문을 활용한 1 ~1000까지 자연수 중 3의 배수의 합을 구하라
i=0                       # 반복에 활용될 변수
result = 0                # 합을 구할 변수
while i in range(1001):   # 반복할거야 대신 i는 1000까지다.
    if i % 3 == 0:        # 조건은 3의 배수야
        result += i       # 결과값은 3의 배수를 더할 거고
    i+=1                  # 반복할때마다 i는 1씩 누적한다!
print(result)

166833

In [20]:
# for 문 활용
total = 0
for i in range(1001):           # 반복에 활용할 i는 1000까지야
    if i % 3 == 0:              # 조건은 3의 배수이고
         total+=i               # 출력하는 건 3의 배수 합이야???
    print(total,end=" ")

0 0 0 3 3 3 9 9 9 18 18 18 30 30 30 45 45 45 63 63 63 84 84 84 108 108 108 135 135 135 165 165 165 198 198 198 234 234 234 273 273 273 315 315 315 360 360 360 408 408 408 459 459 459 513 513 513 570 570 570 630 630 630 693 693 693 759 759 759 828 828 828 900 900 900 975 975 975 1053 1053 1053 1134 1134 1134 1218 1218 1218 1305 1305 1305 1395 1395 1395 1488 1488 1488 1584 1584 1584 1683 1683 1683 1785 1785 1785 1890 1890 1890 1998 1998 1998 2109 2109 2109 2223 2223 2223 2340 2340 2340 2460 2460 2460 2583 2583 2583 2709 2709 2709 2838 2838 2838 2970 2970 2970 3105 3105 3105 3243 3243 3243 3384 3384 3384 3528 3528 3528 3675 3675 3675 3825 3825 3825 3978 3978 3978 4134 4134 4134 4293 4293 4293 4455 4455 4455 4620 4620 4620 4788 4788 4788 4959 4959 4959 5133 5133 5133 5310 5310 5310 5490 5490 5490 5673 5673 5673 5859 5859 5859 6048 6048 6048 6240 6240 6240 6435 6435 6435 6633 6633 6633 6834 6834 6834 7038 7038 7038 7245 7245 7245 7455 7455 7455 7668 7668 7668 7884 7884 7884 8103 8103 8103 8325 8325 8325 8550 8550 8550 8778 8778 8778 9009 9009 9009 9243 9243 9243 9480 9480 9480 9720 9720 9720 9963 9963 9963 10209 10209 10209 10458 10458 10458 10710 10710 10710 10965 10965 10965 11223 11223 11223 11484 11484 11484 11748 11748 11748 12015 12015 12015 12285 12285 12285 12558 12558 12558 12834 12834 12834 13113 13113 13113 13395 13395 13395 13680 13680 13680 13968 13968 13968 14259 14259 14259 14553 14553 14553 14850 14850 14850 15150 15150 15150 15453 15453 15453 15759 15759 15759 16068 16068 16068 16380 16380 16380 16695 16695 16695 17013 17013 17013 17334 17334 17334 17658 17658 17658 17985 17985 17985 18315 18315 18315 18648 18648 18648 18984 18984 18984 19323 19323 19323 19665 19665 19665 20010 20010 20010 20358 20358 20358 20709 20709 20709 21063 21063 21063 21420 21420 21420 21780 21780 21780 22143 22143 22143 22509 22509 22509 22878 22878 22878 23250 23250 23250 23625 23625 23625 24003 24003 24003 24384 24384 24384 24768 24768 24768 25155 25155 25155 25545 25545 25545 25938 25938 25938 26334 26334 26334 26733 26733 26733 27135 27135 27135 27540 27540 27540 27948 27948 27948 28359 28359 28359 28773 28773 28773 29190 29190 29190 29610 29610 29610 30033 30033 30033 30459 30459 30459 30888 30888 30888 31320 31320 31320 31755 31755 31755 32193 32193 32193 32634 32634 32634 33078 33078 33078 33525 33525 33525 33975 33975 33975 34428 34428 34428 34884 34884 34884 35343 35343 35343 35805 35805 35805 36270 36270 36270 36738 36738 36738 37209 37209 37209 37683 37683 37683 38160 38160 38160 38640 38640 38640 39123 39123 39123 39609 39609 39609 40098 40098 40098 40590 40590 40590 41085 41085 41085 41583 41583 41583 42084 42084 42084 42588 42588 42588 43095 43095 43095 43605 43605 43605 44118 44118 44118 44634 44634 44634 45153 45153 45153 45675 45675 45675 46200 46200 46200 46728 46728 46728 47259 47259 47259 47793 47793 47793 48330 48330 48330 48870 48870 48870 49413 49413 49413 49959 49959 49959 50508 50508 50508 51060 51060 51060 51615 51615 51615 52173 52173 52173 52734 52734 52734 53298 53298 53298 53865 53865 53865 54435 54435 54435 55008 55008 55008 55584 55584 55584 56163 56163 56163 56745 56745 56745 57330 57330 57330 57918 57918 57918 58509 58509 58509 59103 59103 59103 59700 59700 59700 60300 60300 60300 60903 60903 60903 61509 61509 61509 62118 62118 62118 62730 62730 62730 63345 63345 63345 63963 63963 63963 64584 64584 64584 65208 65208 65208 65835 65835 65835 66465 66465 66465 67098 67098 67098 67734 67734 67734 68373 68373 68373 69015 69015 69015 69660 69660 69660 70308 70308 70308 70959 70959 70959 71613 71613 71613 72270 72270 72270 72930 72930 72930 73593 73593 73593 74259 74259 74259 74928 74928 74928 75600 75600 75600 76275 76275 76275 76953 76953 76953 77634 77634 77634 78318 78318 78318 79005 79005 79005 79695 79695 79695 80388 80388 80388 81084 81084 81084 81783 81783 81783 82485 82485 82485 83190 83190 83190 83898 83898 83898 84609 84609 84609 85323 85323 85323 86040 86040 86040 86760 86760 86760 87483 87483 87483 88209 88209 88209 88938 88938 88938 89670 89670 89670 90405 90405 90405 91143 91143 91143 91884 91884 91884 92628 92628 92628 93375 93375 93375 94125 94125 94125 94878 94878 94878 95634 95634 95634 96393 96393 96393 97155 97155 97155 97920 97920 97920 98688 98688 98688 99459 99459 99459 100233 100233 100233 101010 101010 101010 101790 101790 101790 102573 102573 102573 103359 103359 103359 104148 104148 104148 104940 104940 104940 105735 105735 105735 106533 106533 106533 107334 107334 107334 108138 108138 108138 108945 108945 108945 109755 109755 109755 110568 110568 110568 111384 111384 111384 112203 112203 112203 113025 113025 113025 113850 113850 113850 114678 114678 114678 115509 115509 115509 116343 116343 116343 117180 117180 117180 118020 118020 118020 118863 118863 118863 119709 119709 119709 120558 120558 120558 121410 121410 121410 122265 122265 122265 123123 123123 123123 123984 123984 123984 124848 124848 124848 125715 125715 125715 126585 126585 126585 127458 127458 127458 128334 128334 128334 129213 129213 129213 130095 130095 130095 130980 130980 130980 131868 131868 131868 132759 132759 132759 133653 133653 133653 134550 134550 134550 135450 135450 135450 136353 136353 136353 137259 137259 137259 138168 138168 138168 139080 139080 139080 139995 139995 139995 140913 140913 140913 141834 141834 141834 142758 142758 142758 143685 143685 143685 144615 144615 144615 145548 145548 145548 146484 146484 146484 147423 147423 147423 148365 148365 148365 149310 149310 149310 150258 150258 150258 151209 151209 151209 152163 152163 152163 153120 153120 153120 154080 154080 154080 155043 155043 155043 156009 156009 156009 156978 156978 156978 157950 157950 157950 158925 158925 158925 159903 159903 159903 160884 160884 160884 161868 161868 161868 162855 162855 162855 163845 163845 163845 164838 164838 164838 165834 165834 165834 166833 166833

In [21]:
# while을 이용한 별그리기
i = 0                      # 반복할 건더기 생성
while i<5:                 # 5번 반복
    i+=1                   # 5번 반복시켜주는 식
    print("*"*i)           # 출력

# for을 이용한 별그리기   
for i in range(6):         # 5번 반복할게
    print("*"*i)           # 출력

*
**
***
****
*****

*
**
***
****
*****

In [22]:
#for문을 활용한 1 ~ 100까지 숫자 출력
for num in range(1,101):              # 100까지가 범위야
    print(num,end= " ")               # 출력

# while 문을 활용한 1 ~ 100까지 숫자 출력
i = 0                                     # 반복시켜줄 건더기
while i < 101:                            # 100번 반복할거야
    i+=1                                  # 100번 반복해주는 식
    print(i, end= " ")                    # 출력

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101

In [23]:
# for문을 활용한 A학급의 평균점수
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0                                      # 합계 구할 주머니
for score in A:                                # 점수는 A 안에 있어
    total += score                             # 합계는 점수들을 더해줄거고
average = total/len(A)                         # 평균은 리스트의 갯수로 나눠서 구할거야
print(average)

79.0

In [24]:
# while문을 활용한 A학급의 평균점수           # 반복할 건더기가 필요함.
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]           
total=0                                       #주머니
i=0                                           #반복할 건더기    
while i<len(A):                               #10번 반복할게
    total+=A[i]                               #총합은 리스트 하나하나
    i+=1                                      # 건더기 플레이~
print(total/len(A))

79.0

In [25]:
# for문 홀수에만 2를 곱하여 저장하기
lis = [1, 2, 3, 4, 5]                        # List
result = []                                  # 결과값 주머니 하나 하나 다 넣어야하니깐
for num in lis:                              # 숫자는 리스트 안에 있어
    if num % 2 == 1:                         # 대신 조건은 홀수야
         result.append(num*2)                # 그리고 리스트 처리 할건데 홀수*2
print(result)

# 리스트 내포식(표현식 for 항목 in 반복 가능 객체 if 조건)

result = [num*2 for num in lis if num % 2 == 1]
print(result)

[2, 6, 10]
[2, 6, 10]

In [26]:
# 함수
# 함수의 종류
# 1.일반적인 함수("입력값" 과 "결괏값" 모두를 가진다.)
def add(a,b):
    return a+b

add(5,5)

10

In [27]:
# 2.입력값이 없는 함수("결괏값만 가진다")
def res():
    return "hi"

res()

'hi'

In [28]:
# 3.결괏값이 없는 함수("입력값만 가진다", print())
def nre(a,b):
    print("%d, %d의 합은 %d입니다." % (a, b, a+b)) # %d 정수 넣는 방법(P59) 
    
nre(3,5)

# print는 온전히 수행할 문장을 보여주는 함수이다
# return은 온전히 결괏값을 출력하는 함수로 print와 다르다.

3, 5의 합은 8입니다.

In [29]:
# 4.입력값도 결과값도 없는 함수
def las():
    print("hello")

las()

hello

In [30]:
# 매개 변수 지정해서 출력하기
def add(a,b):
    return a+b

print(add(a=7,b=3)) # 인수가 아닌 매개변수를 직접 인수와 매칭 시키면 순서가 바뀌어도 결과값 도출에 문제는 없다.
add(b=3,a=2)

10

5

In [31]:
# 입력값이 몇개야? ########################################################################주의 *매개변수는 가장 맨마지막에 작성해야한다
# 매개변수 안에 많은 수를 넣으면 그걸 모두 더해주는 함수를 만들고 싶어
# (*매개변수: 하나의 튜플을 만들어 입력 매개변수 갯수를 따로 지정하지 않아도 된다는 장점이 있음.)
def kky(*ky):             # kky 라는 함수고 매개변수는 무제한이야
    result = 0            # 결과값은 초반 0
    for i in ky:          # i는 매개변수 안에 있어 튜플이니깐
        result+=i         # 결과값은 결국 튜플안에 있는 숫자들을 모두 더한 꼴이야
    return print(result)  # 최종 결과값 출력해줘

kky(1,2,4,5)

12

In [32]:
# 매개변수 응용 (매개변수, *매개변수)
def kim(some, *ky):                   # kim이라는 함수를 만들건데 kim(일반 매개변수, 튜플링 매개변수야)
    if some == "add":                 # 일반 매개 변수가 더하기면
        result = 0                    # 더하기 결과 초기값은 0
        for i in ky:                  # i 는 튜플링 매개변수 안에있고
            result+=i                 # 튜플링에 원소들을 모두 더해줄거야
    elif some == "mul":                ## 일반 매개 변수가 곱하기면
        result = 1                    # 곱하기 결과 초기값은 1
        for i in ky:                  # i 는 튜플링 매개변수 안에 있고
            result*=i                 # 튜플링에 원소들을 모두 곱해줄거야 
    return print(result)              # 결과값 출력

In [38]:
kim("add",1,2,3,4)

10

In [39]:
kim("mul",1,2,3,4)

24

In [41]:
# 함수의 결괏값은 언제나 하나다? --> 아니다

def add_mul(a,b):
    return a + b, a * b

add_mul(3,4) # (a+b, a*b)의 튜플 형태로 출력됨을 알수있다

(7, 12)

In [43]:
def add_mul2(a,b):
    return a + b
    return a * b

add_mul2(3,4) # return을 두번 쓰는 방법으로는 사용할 수 없다.
              # 왜냐 return을 닿는 순간 함수를 빠져나가기 때문

7

In [72]:
# 함수 안에 변수는 바깥 변수와 다르다
a=1

def dif(a):
    a = a + 1
 
print(dif(a)) # 함수 안에서의 변수는 바깥 함수와 연동 되어 있지 않다.
print(a)

def dif2(a):
    a = a + 1
    return a
dif2(a)       # return을 활용해 바깥함수 a를 적용 시킨 모습을 확인할 수 있다.

None
1

2